[submodule "module-1-python-tracker"]
	path = module-1-python-tracker
	url = https://github.com/enamulzishan/module-1-python-tracker.git

[submodule "module-2-logic-checker"]
	path = module-2-logic-checker
	url = https://github.com/enamulzishan/module-2-logic-checker.git

[submodule "module-3-loop-system"]
	path = module-3-loop-system
	url = https://github.com/enamulzishan/module-3-loop-system.git
